<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I'm a fullstack web developer in Japan originally from New York. I chose coding with
              <a href="https://www.lewagon.com/tokyo" target="_blank"><em>these guys</em></a>.
              Thank you for visiting my page 🥺</p>
      </div>
      <div class="card-transparent">
            <h2>PROGRAMMING HIT LIST</h2>
            <ul>
              <li><img src="https://www.tshirtgeek.com.br/wp-content/uploads/2021/03/com014.jpg" alt="ruby logo" width="50px"></li>
              <li><i class="fa-brands fa-html5"></i></li>
              <li><i class="fa-brands fa-css3-alt"></i></li>
              <li><i class="fa-brands fa-git"></i></li>
              <li><img src="https://e7.pngegg.com/pngimages/578/496/png-clipart-database-computer-icons-datasource-others-black-data.png" alt="sql logo" width="50px"></li>
            </ul>
          </div>
    </div>
  </div>
</div>
